@import "../colors";


.root {
    &>div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .heading {
            
            margin: 2rem auto 3.5rem auto;
            text-align: center;
            max-width: 920px;

            h1 {
                font-size: clamp(3.43rem, 2.84vw + 2.72rem, 5rem);
                position: relative;
            }

            p {
                transition: all 0.55s;
                transition-delay: 1000ms;
            }
        }


    }
}


@keyframes dash {
    0% {
        stroke-dashoffset: 1200;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1200;
    }
}

.parallaxGlare {
    border-radius: 1.3rem;
    transform-style: preserve-3d;

    .card {
        transform-style: preserve-3d;
    }

}