.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.35rem;
    span {
        font-size: clamp(1.13rem, 0.11vw + 1.1rem, 1.19rem);
        margin: 0;
        color: #fff;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}