.root {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.2rem;

    &>div {
        &:nth-child(1) {
            .card {
                &:hover {
                    .cardContent {
                        svg {
                            fill: yellow;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            .card {
                transition-delay: 100ms;

                &:hover {
                    .cardContent {
                        svg {
                            fill: orange;
                        }
                    }
                }
            }
        }

        &:nth-child(3) {
            .card {
                transition-delay: 200ms;

                &:hover {
                    .cardContent {
                        svg {
                            fill: greenyellow;
                        }
                    }
                }
            }
        }

        &:nth-child(4) {
            .card {
                transition-delay: 300ms;

                &:hover {
                    .cardContent {
                        svg {
                            fill: aquamarine;
                        }
                    }
                }
            }
        }
    }

    .card {
        position: relative;
        height: 100%;
        padding: 2.5rem;
        transition: all 0.5s;

        &:hover {
            .cardActive {
                opacity: 1;
            }

            .cardContent {
                transform: translateZ(30px);
            }
        }

        .cardActive,
        .cardInactive {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.75s;
            border-radius: 1.3rem;

            &.cardActive {
                background: linear-gradient(315deg, rgb(60, 0, 255) 0%, rgb(183, 0, 255) 100%);
                box-shadow: rgba(131, 30, 228, 0.2) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) -2px 2px 2px 0px inset;
                opacity: 0;
            }

            &.cardInactive {
                background: linear-gradient(137deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) 0px 1px 2px 0px inset;
                opacity: 1;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-size: 128px;
                    background-repeat: repeat;
                    background-image: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
                    opacity: 0.06;
                    border-radius: inherit;
                }
            }
        }

        .cardContent {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: relative;
            pointer-events: none;
            transition: transform 0.2s;
        }
    }
}