@import "../../colors";

.button {
    padding: 0.85rem 1.85rem;
    border-radius: 1.2rem;
    font-weight: bold;
    letter-spacing: -1.5px;
    background: linear-gradient(315deg, rgb(48, 48, 48) 0%, rgb(0, 0, 0) 100%);
    border: none;
    outline: none;
    color: white;
    font-size: clamp(1.15rem, 0.30vw + 1.30rem, 1.4rem);
    white-space: pre;
    cursor: pointer;
    &.highlight {
        background: linear-gradient(315deg, rgb(153, 0, 255) 0%, rgb(0, 136, 255) 100%);
    }
}

@mixin styles {
    padding: 0.85rem 1.85rem;
    border-radius: 1.2rem;
    font-weight: bold;
    letter-spacing: -1.5px;
    background: linear-gradient(315deg, rgb(153, 0, 255) 0%, rgb(0, 136, 255) 100%);
    border: none;
    outline: none;
    color: white;
    font-size: clamp(1.15rem, 0.30vw + 1.30rem, 1.4rem);
    white-space: pre;
    cursor: pointer;
}