.root {
    font-size: clamp(2.4rem, 1.2vw + 1.98rem, 2.9rem);
    margin: 0;
    line-height: 1.05;
    letter-spacing: -0.8px;
    transition: all 0.55s;
    transition-delay: 150ms;
    &.title {
        font-size: clamp(3.43rem, 2.84vw + 2.72rem, 5rem);
    }
    
}