@mixin root {
    background-image: linear-gradient(to right, #3c00ff 100%, #ffffff 0);
    background-position: 0 110%;
    background-repeat: repeat-x;
    background-size: 100% 25%;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s background-size, 0.1s color;
    border-radius: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: clamp(1.18rem, 0.15vw + 1.1rem, 1.25rem);
    user-select: none;
}