.root {
    font-size: clamp(1.20rem, 0.15vw + 1.1rem, 1.27rem);
    margin: 0;
    color: #fff;
    line-height: 2rem;
    &.xl {
        font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
    }
    &.xxl {
        font-size: clamp(1.76rem, 0.64vw + 1.6rem, 2.11rem);
    }
    &.xxxl {
        font-size: clamp(3.5rem, 2vw + 3rem, 4rem);
        font-weight: bold;
        line-height: unset;
    }
}

/* @mixin styles {
    font-size: clamp(1.18rem, 0.15vw + 1.1rem, 1.25rem);
    margin: 0;
    color: #fff;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
} */


/* @mixin xl-text-styles {
    font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
    line-height: 1.05;
}



@mixin xxxl-text-styles {
    font-size: clamp(3.5rem, 2vw + 3rem, 4rem);
    font-weight: bold;
    margin: 0;
} */