.aos-effect1-el {
    opacity: 0;
    transform: translate(-100px, 50px);
}

.aos-effect1 {
    opacity: 1;
    transform: translate(0, 0);
}


.aos-effect2-el {
    transform: translateX(-2500px);
}

.aos-effect2 {
    transform: translateX(0);
}

.aos-effect3-el {
    opacity: 0;
    filter: blur(13px);
}

.aos-effect3 {
    opacity: 1;
    filter: blur(0px);

}