.aos-effect1-el {
    opacity: 0;
    transform: translate(-100px, 50px);
}

.aos-effect1 {
    opacity: 1;
    transform: translate(0, 0);
}


.aos-effect2-el {
    transform: translateX(-1500px);
}

.aos-effect2 {
    transform: translateX(0);
}