.root {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    & > p {
        font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
        &:last-of-type {
            margin-bottom: 2rem;
            font-size: clamp(1.13rem, 0.11vw + 1.1rem, 1.19rem);
        }
    }
}

.customTooltip {
    padding: 1rem;
    background-color: white;
    max-width: 350px;
    text-align: center;
    border-radius: 0.35rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    p {
        color: black;
    }
}