@import "colors";

.root {
    position: relative;
    width: 100%;
    display: flex;
    min-height: 68px;
    padding: 8px 0px;
    box-shadow: 2px 0 5px lightgray;
    background-color: #000;
    z-index: 10;
}