@import "colors";

.rootDecoration {
    position: relative;
    .decoration {
        width: 100%;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 0;
        animation: dash 35s ease-in-out infinite;
        opacity: 0.35;
    }
}
.root {
    &>div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            text-align: center;
            margin: 2rem auto 3.5rem auto;
            font-size: clamp(3.43rem, 2.84vw + 2.72rem, 5rem);
            max-width: 920px;
            position: relative;
        }

        .columns {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.2rem;

            &>div {
                &:nth-child(1) {
                    .card {
                        &:hover {
                            .cardContent {
                                svg {
                                    fill: yellow;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .card {
                        transition-delay: 100ms;

                        &:hover {
                            .cardContent {
                                svg {
                                    fill: orange;
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .card {
                        transition-delay: 200ms;

                        &:hover {
                            .cardContent {
                                svg {
                                    fill: greenyellow;
                                }
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    .card {
                        transition-delay: 300ms;

                        &:hover {
                            .cardContent {
                                svg {
                                    fill: aquamarine;
                                }
                            }
                        }
                    }
                }
            }

            .card {
                position: relative;
                padding: 2.5rem;
                transition: all 0.5s;

                &:hover {
                    .cardActive {
                        opacity: 1;
                    }

                    .cardContent {
                        transform: translateZ(30px);
                    }
                }

                .cardActive,
                .cardInactive {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: opacity 0.75s;
                    border-radius: 1.3rem;

                    &.cardActive {
                        background: linear-gradient(315deg, rgb(60, 0, 255) 0%, rgb(183, 0, 255) 100%);
                        box-shadow: rgba(131, 30, 228, 0.2) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) -2px 2px 2px 0px inset;
                        opacity: 0;
                    }

                    &.cardInactive {
                        background: linear-gradient(137deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
                        box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) 0px 1px 2px 0px inset;
                        opacity: 1;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-size: 128px;
                            background-repeat: repeat;
                            background-image: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
                            opacity: 0.06;
                            border-radius: inherit;
                        }
                    }
                }

                .cardContent {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    position: relative;
                    pointer-events: none;
                    transition: transform 0.2s;
                }
            }
        }

        .viewProjects {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 1.2rem;
            position: relative;
            width: 100%;
            padding: 1.5rem;
            border-radius: 1.3rem;
            background: linear-gradient(137deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
            box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) 0px 1px 2px 0px inset;
            opacity: 1;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: 128px;
                background-repeat: repeat;
                background-image: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png");
                opacity: 0.06;
                border-radius: inherit;
            }

            .viewProjectsBtn {
                transition: all 0.75s;
                z-index: 1;
            }
        }

        .separator {
            display: flex;
            flex-direction: column;
            align-items: center;
            // gap: 1rem;
            padding-top: 2.5rem;
            text-align: center;
            & > div {
                display: flex;
                flex-direction: column;
            }
            & > svg {
                transform: rotate(180deg);
                transition-delay: 200ms;
            }
        }
    }
}


@keyframes dash {
    0% {
        stroke-dashoffset: 1200;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1200;
    }
}

.parallaxGlare {
    border-radius: 1.3rem;
    transform-style: preserve-3d;

    .card {
        transform-style: preserve-3d;
    }

}