@import "colors";

.rootDecoration {
    position: relative;

    .decoration {
        width: 100%;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 0;
        animation: dash 35s ease-in-out infinite;
        opacity: 0.35;
    }
}

.root {
    &>div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            text-align: center;
            margin: 2rem auto 3.5rem auto;
            font-size: clamp(3.43rem, 2.84vw + 2.72rem, 5rem);
            max-width: 920px;
            position: relative;
        }

    }
}


@keyframes dash {
    0% {
        stroke-dashoffset: 1200;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1200;
    }
}

.parallaxGlare {
    border-radius: 1.3rem;
    transform-style: preserve-3d;

    .card {
        transform-style: preserve-3d;
    }

}