.root {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    z-index: 10;

    &>div {
        position: absolute;
        width: 10rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .up {
            display: flex;
            flex-direction: row;
            gap: 0.3em;

            a:first-child {
                border-radius: 90px 5px 5px 5px;

                svg {
                    margin-top: 1.8rem;
                    margin-left: 1.5rem;
                    fill: #25D366;
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                    background-color: #25D366;

                    svg {
                        fill: #ffffff;
                    }
                }
            }

            a:last-child {
                border-radius: 5px 90px 5px 5px;

                svg {
                    margin-top: 1.8rem;
                    margin-left: 1rem;
                    fill: #EA4335
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                    background-color: #EA4335;

                    svg {
                        fill: #ffffff;
                    }
                }
            }
        }

        .down {
            display: flex;
            flex-direction: row;
            gap: 0.3em;

            a:first-child {
                border-radius: 5px 5px 5px 90px;

                svg {
                    margin-top: 1rem;
                    margin-left: 1.5rem;
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                    background-color: black;

                    svg {
                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }

            a:last-child {
                border-radius: 5px 5px 90px 5px;

                svg {
                    margin-top: 1rem;
                    margin-left: 1rem;
                    fill: #0A66C2;
                }

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                    background-color: #0A66C2;

                    svg {
                        fill: #ffffff;
                    }
                }
            }
        }

        a {
            display: block;
            line-height: 0;
            background-color: #ffffff;
            width: 4rem;
            height: 4rem;
            outline: none;
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: .2s ease-in-out;
            transform-origin: top bottom;
            animation: appear 1.5s ease-in;

            svg {
                height: 1.3rem;
            }
        }
    }
}

@keyframes appear {
    from {
        transform: scale(0.1);
        opacity: 0.1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}