@import "../../colors";

.root {
    display: inline-block;
}

.rotate {
    animation-name: rotate;
    animation-duration: .15s;
}


.windup {
    display: flex;
    padding: 0.8rem;
    border-radius: .2rem;
    background: linear-gradient(315deg, rgb(60, 0, 255) 0%, rgb(183, 0, 255) 100%);
    box-shadow: rgba(131, 30, 228, 0.2) 0px 20px 40px 0px, rgba(255, 255, 255, 0.1) -2px 2px 2px 0px inset;
    white-space: pre-wrap;
    transform: skew(3deg, 2deg);
}

.windupAnswer {
    background: rgba(255, 255, 255, 0.04);
    transform: skew(-1deg, -1deg);
    margin-top: 0.5rem;
    align-self: flex-end;

}


@keyframes rotate {
    0% {
        opacity: 0;
        transform: scale(.1) rotate(-180deg) translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translateY(0);
    }
}