@import "../colors";

.main {
    background-color: $background;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bg {
        background-image: url("/stars.png");
        background-position: 50%;
        background-size: 1090px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

}