@import "../colors";

.root {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem clamp(1rem, 1rem + 3vw, 5rem);
    box-shadow: 1px 0 3px lightgray;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #000;
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(3px);
    transition: all 0.75s;

    &.light {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(1px);

        &>div {
            a svg path {
                fill: #000000;

            }
        }
        .menu {
            a {
                color: #000;
            }
        }
    }


    .logo {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .burger {
            display: none;
            cursor: pointer;
        }

        a {
            line-height: 0;

            svg {
                width: 12rem;
                height: auto;

                path {
                    fill: #ffffff;
                }
            }
        }
    }


    .menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        position: relative;
        .close {
            display: none;
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }

        a {
            font-size: clamp(1.20rem, 0.15vw + 1.1rem, 1.27rem);
            font-weight: bold;
            color: #a8a8a8;
            transition: color 0.1s;         
            &:hover {
                color: #ffffff;
            }
        }

        button {
            display: none;
        }
    }

    button {
        font-size: inherit;
    }
}

@media (max-width: 768px) {
    .root {
        .logo {
            .burger {
                display: block;
            }

            svg {
                display: none;
            }
        }

        .menu {
            display: none;
            &.active {
                display: flex;
            }
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            padding: 5rem 0;
            flex-direction: column;
            height: 100vh;
            z-index: 11;
            background-color: #000000;
            .close, button {
                display: block;
            }
        }
    }
}