@import "../colors";

.root {
    position: relative;
    width: 100%;
    display: flex;
    padding: 1rem 5rem;
    box-shadow: 1px 0 3px lightgray;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #000;
    background: rgba(0,0,0,0.61);
    backdrop-filter: blur(3px);
    svg {
        height: 3rem;
        path {
            fill: white;
        }
    }
}