@use "@/styles/components/content/mixins.module.scss" as mixin;

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem 8rem 1rem;
    background-color: #ffffff;
    color: #000000;
    
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1150px;
        gap: 2.5rem;
        margin-bottom: 3rem;

        .titleWrapper {
            flex: 1 1 500px;
            color: #000000;
            * {
                color: inherit;
            }
            span.title,
            h1.title {
                font-size: clamp(3.5rem, 2vw + 3rem, 4rem);
                display: inline;
                line-height: unset;
                font-weight: 700;
            }

            &>div {
                display: flex;
                align-items: center;
                margin-top: 0.75rem;
                font-size: 1.3rem;
            }
            
            .author {
                gap: 1rem;
                img {
                    width: 100%;
                    max-width: 2rem;
                    height: auto;
                }

            }
        }

        img {
            width: 100%;
            max-width: 20rem;
            height: auto;
            border-radius: 1.75rem;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 810px;
        margin-top: 5rem;
        & > div {
            width: 100%;
            p,
            ul li,
            ol li,
            p a {
                font-size: clamp(1.20rem, 0.15vw + 1.1rem, 1.27rem);
                line-height: 2rem;
                color: #000000;
                margin: 2.1rem 0;
                
            }
    
            ul,
            ol {
                padding-left: 3rem;
                li {
                    margin: 2.5rem 0;
                }
            }
    
            h2 {
                font-size: clamp(1.76rem, 0.64vw + 1.6rem, 2.11rem);
                margin: 2.5rem 0;
            }
    
            h3 {
                font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
                margin: 2.5rem 0;
            }
    
            p a {
                @include mixin.link;
                color: #000000;
                &:hover {
                    background-size: 100% 100%;
                    color: #ffffff;
                }
            }
        }


    }
}

.root :global {
    .wp-block-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        .wp-block-button {
            @include mixin.button;
            a {
                color: #ffffff;
            }
        }
    }

    .wp-block-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        img {
            width: 100%;
            height: auto;
            max-width: 45rem;
        }
    }
}